    
/*colors*/    
$stone900: #1c1917;
$stone800: #292524;
$stone700: #44403c;
$stone600: #57534e;
$stone500: #78716c;
$stone400: #a8a29e;
$stone300: #d6d3d1;
$stone200: #e7e5e4;
$stone100:#f5f5f4;
$stone50: #fafaf9;
$link: #1d4ed8;
$link-hover: #1e40af;

/* font size */
$fs-xs: .75rem;
$fs-sm: .875rem;
$fs-tiny: .875rem;
$fs-base: 1rem;
$fs-lg: 1.125rem;
$fs-xl: 1.25rem;
$fs-2xl: 1.5rem;
$fs-3xl: 1.875rem;
$fs-4xl: 2.25rem;
$fs-5xl: 3rem;
$fs-6xl: 4rem;
$fs-7xl: 5rem;

/*break points */
$bp-sm: 320px;
$bp-md: 641px;
$bp-lg: 1008px;

 /* modular scale  */
$ms0: 0px;
$ms1: 0.125rem;
$ms2: .25rem;
$ms3: .375rem;
$ms4: .5rem;
$ms5: .625rem;
$ms6: .75rem;
$ms7: .875rem;
$ms8: 1rem;
$ms9: 1.25rem;
$ms10: 1.5rem; 
$ms11: 1.75rem; 
$ms12: 2rem;
$ms13: 2.25rem;
$ms14: 2.5rem;
$ms15: 2.75rem;
$ms16: 3rem;
$ms17: 3.5rem;
$ms18: 4rem;
$ms19: 5rem;
$ms20: 6rem;
$ms21: 7rem;
$ms22: 8rem;
$ms23: 9rem;
$ms24: 10rem;
$ms25: 11rem;
$ms26: 12rem;
$ms27: 13rem;
$ms28: 14rem;
$ms29: 16rem;
$ms30: 16rem;
$ms31: 18rem;
$ms32: 20rem;
$ms33: 24rem;
